.welcomeImg{
  position: absolute;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.welcomePage{
  text-align: center;
  display: block;
  position: absolute;
}

.welcomeMess, .sentOff{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
}

.welcome{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 40px;
}

.startBtn {
  background-color: rgb(143, 198, 216);
  color: black;
  border: 2px solid #555555;
  font-size: 20px;
}

.startBtn:hover {
  background-color: #555555;
  color: white;
}

.navbarUser{
  position: absolute;
  right: 80px;
}

.navbarLogOut{
  position: absolute;
  right: 0px
}

.list-group-item {
  margin: auto;
  width: 40%;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.updateBtn {
  text-align: center;
}

.userUpdateImg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#createForm{
  position: absolute;
  left: 30%;
}

.winter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

.summer {
  background: #fff;
  position:absolute;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.winterImg, .summerImg{
  position: absolute;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.winterImg:hover, .summerImg:hover{
  opacity: 1;
}

.markerBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.markerBtn img{
  width: 25px;
  height: 25px;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  }

  .popUpClose {
    position: absolute;
    top: -5px;
    right: 0px;
    background: black;
    color:  #ffffff;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 23px;
  }

  .dropdownFilter {
    position: absolute;
    right: 0.5%;
    top: 0.7%;
    z-index: 2;
  }
  
  #filterBtn1 {
    position: absolute;
    left: 6%;
    margin-top: 3.5%;
    z-index: 2;
  }

  #filterBtn2 {
    position: absolute;
    margin-left: 1%;
    margin-top: 3.5%;
    z-index: 2;
  }

  #styleBtn1{
    position: absolute;
    bottom: 110px;
    left: 2%;
    z-index: 2;
  }

  #styleBtn2{
    position: absolute;
    bottom: 110px;
    left: 12.5%;
    z-index: 2;
  }

  #styleBtn3{
    position: absolute;
    bottom: 110px;
    left: 21%;
    z-index: 2;
  }

  #userLocation{
    position: absolute;
    margin-top: 0.4%;
    margin-left: 1.3%;
    z-index: 2;
  }

  .navControl{
    position: absolute; 
    right: 1.1%;
    bottom: 8.5%;
  }

  #newEventBtn{
    position: absolute;
    top: 11.5%;    
    left: 0.5%;
    z-index: 2;
  }

  #deleteUser{
    position: relative;
    left: 43%;
    margin-top: 10px;
  }

  .markerBtnUser {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .markerBtnUser img{
    width: 65px;
    height: 65px;
  }